In [24]:
import boto3
s3 = boto3.client('s3',aws_access_key_id="AKIAZZ33YB65GZIN656A",aws_secret_access_key="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")
bucket = "mindex-data-analytics-code-challenge"
file_name = "higgins_receiving.csv"
#s3_clientobj = s3_client.get_object(Bucket=bucket, Key=file_name)
obj = s3.get_object(Bucket=bucket, Key=file_name)
higgins_df = pd.read_csv(obj['Body'])

In [43]:
boyd_df = boyd_df.rename({'Yards' : 'BoydYards', 'TD' : 'BoydTD'}, axis=1)
print(boyd_df)

     Week  BoydYards  BoydTD
0    REG1         32       0
1    REG2         73       0
2    REG3         36       1
3    REG4        118       0
4    REG5         24       0
5    REG6          7       0
6    REG7         39       0
7    REG8         69       1
8    REG9         11       0
9   REG11         49       0
10  REG12         13       0
11  REG13         85       0
12  REG14         55       0
13  REG15         96       1
14  REG16         85       1
15  REG17         36       1
16  POST1         26       1
17  POST2         17       0
18  POST3         19       0
19  POST4         48       0

In [42]:
higgins_df = higgins_df.rename({'Yards' : 'HigginsYards', 'TD' : 'HigginsTD'}, axis=1)
print(higgins_df)

     Week  HigginsYards  HigginsTD
0    REG1            58          1
1    REG2            60          1
2    REG5            32          0
3    REG6            44          0
4    REG7            62          0
5    REG8            97          0
6    REG9            78          0
7   REG11            15          0
8   REG12           114          1
9   REG13           138          1
10  REG14           114          0
11  REG15            23          0
12  REG16           194          2
13  REG17            62          0
14  POST1            10          0
15  POST2            96          0
16  POST3           103          0
17  POST4           100          2

In [41]:
beng_df = beng_df.replace({1.0 : "Win", 0.0 : "Loss"})
print(beng_df)

     Week Opponent Location Result
0    PRE1       TB     Away    Win
1    PRE2      WSH     Away   Loss
2    PRE3      MIA     Home   Loss
3    REG1      MIN     Home    Win
4    REG2      CHI     Away   Loss
5    REG3      PIT     Away    Win
6    REG4      JAX     Home    Win
7    REG5       GB     Home   Loss
8    REG6      DET     Away    Win
9    REG7      BAL     Away    Win
10   REG8      NYJ     Away   Loss
11   REG9      CLE     Home   Loss
12  REG10      NaN      NaN    NaN
13  REG11       LV     Away    Win
14  REG12      PIT     Home    Win
15  REG13      LAC     Home   Loss
16  REG14       SF     Home   Loss
17  REG15      DEN     Away    Win
18  REG16      BAL     Home    Win
19  REG17       KC     Home    Win
20  REG18      CLE     Away   Loss
21  POST1       LV     Home    Win
22  POST2      TEN     Away    Win
23  POST3       KC     Away    Win
24  POST4      LAR  Neutral   Loss

In [40]:
chase_df = chase_df.rename({'Yards' : 'ChaseYards', 'TD' : 'ChaseTD'}, axis=1)
print(chase_df)

     Week  ChaseYards  ChaseTD
0    REG1         101        1
1    REG2          54        1
2    REG3          65        2
3    REG4          77        0
4    REG5         159        1
5    REG6          97        0
6    REG7         201        1
7    REG8          32        1
8    REG9          49        0
9   REG11          32        1
10  REG12          39        0
11  REG13          52        0
12  REG14          77        2
13  REG15           3        0
14  REG16         125        0
15  REG17         266        3
16  REG18          26        0
17  POST1         116        0
18  POST2         109        0
19  POST3          54        1
20  POST4          89        0

In [39]:
merge1_df = pd.merge(beng_df, boyd_df,  on='Week', how='left')
merge2_df = pd.merge(merge1_df, chase_df, on='Week', how='left')
merge3_df = pd.merge(merge2_df, higgins_df, on='Week', how='left')
print(merge3_df)

     Week Opponent Location Result  BoydYards  BoydTD  ChaseYards  ChaseTD  \
0    PRE1       TB     Away    Win        NaN     NaN         NaN      NaN
1    PRE2      WSH     Away   Loss        NaN     NaN         NaN      NaN
2    PRE3      MIA     Home   Loss        NaN     NaN         NaN      NaN
3    REG1      MIN     Home    Win       32.0     0.0       101.0      1.0
4    REG2      CHI     Away   Loss       73.0     0.0        54.0      1.0
5    REG3      PIT     Away    Win       36.0     1.0        65.0      2.0
6    REG4      JAX     Home    Win      118.0     0.0        77.0      0.0
7    REG5       GB     Home   Loss       24.0     0.0       159.0      1.0
8    REG6      DET     Away    Win        7.0     0.0        97.0      0.0
9    REG7      BAL     Away    Win       39.0     0.0       201.0      1.0
10   REG8      NYJ     Away   Loss       69.0     1.0        32.0      1.0
11   REG9      CLE     Home   Loss       11.0     0.0        49.0      0.0
12  REG10      NaN      NaN    NaN        NaN     NaN         NaN      NaN
13  REG11       LV     Away    Win       49.0     0.0        32.0      1.0
14  REG12      PIT     Home    Win       13.0     0.0        39.0      0.0
15  REG13      LAC     Home   Loss       85.0     0.0        52.0      0.0
16  REG14       SF     Home   Loss       55.0     0.0        77.0      2.0
17  REG15      DEN     Away    Win       96.0     1.0         3.0      0.0
18  REG16      BAL     Home    Win       85.0     1.0       125.0      0.0
19  REG17       KC     Home    Win       36.0     1.0       266.0      3.0
20  REG18      CLE     Away   Loss        NaN     NaN        26.0      0.0
21  POST1       LV     Home    Win       26.0     1.0       116.0      0.0
22  POST2      TEN     Away    Win       17.0     0.0       109.0      0.0
23  POST3       KC     Away    Win       19.0     0.0        54.0      1.0
24  POST4      LAR  Neutral   Loss       48.0     0.0        89.0      0.0

    HigginsYards  HigginsTD
0            NaN        NaN
1            NaN        NaN
2            NaN        NaN
3           58.0        1.0
4           60.0        1.0
5            NaN        NaN
6            NaN        NaN
7           32.0        0.0
8           44.0        0.0
9           62.0        0.0
10          97.0        0.0
11          78.0        0.0
12           NaN        NaN
13          15.0        0.0
14         114.0        1.0
15         138.0        1.0
16         114.0        0.0
17          23.0        0.0
18         194.0        2.0
19          62.0        0.0
20           NaN        NaN
21          10.0        0.0
22          96.0        0.0
23         103.0        0.0
24         100.0        2.0

In [38]:
import pandasql as ps
query = """ SELECT b.Week, b.Opponent, b.Location, c.ChaseYards, c.ChaseTD, h.HigginsYards, h.HigginsTD, bd.BoydYards, bd.BoydTD, b.Result FROM beng_df b
LEFT JOIN  chase_df c
ON(b.week = c.week)
LEFT JOIN higgins_df h
ON(b.week = h.week)
LEFT JOIN boyd_df bd
ON(b.week = bd.week)

"""
ps.sqldf(query)

,Week,Opponent,Location,ChaseYards,ChaseTD,HigginsYards,HigginsTD,BoydYards,BoydTD,Result
0,PRE1,TB,Away,NaN,NaN,NaN,NaN,NaN,NaN,Win
1,PRE2,WSH,Away,NaN,NaN,NaN,NaN,NaN,NaN,Loss
2,PRE3,MIA,Home,NaN,NaN,NaN,NaN,NaN,NaN,Loss
3,REG1,MIN,Home,101.0,1.0,58.0,1.0,32.0,0.0,Win
4,REG2,CHI,Away,54.0,1.0,60.0,1.0,73.0,0.0,Loss
5,REG3,PIT,Away,65.0,2.0,NaN,NaN,36.0,1.0,Win
6,REG4,JAX,Home,77.0,0.0,NaN,NaN,118.0,0.0,Win
7,REG5,GB,Home,159.0,1.0,32.0,0.0,24.0,0.0,Loss
8,REG6,DET,Away,97.0,0.0,44.0,0.0,7.0,0.0,Win
9,REG7,BAL,Away,201.0,1.0,62.0,0.0,39.0,0.0,Win
10,REG8,NYJ,Away,32.0,1.0,97.0,0.0,69.0,1.0,Loss
11,REG9,CLE,Home,49.0,0.0,78.0,0.0,11.0,0.0,Loss
12,REG10,None,None,NaN,NaN,NaN,NaN,NaN,NaN,None
13,REG11,LV,Away,32.0,1.0,15.0,0.0,49.0,0.0,Win
14,REG12,PIT,Home,39.0,0.0,114.0,1.0,13.0,0.0,Win
15,REG13,LAC,Home,52.0,0.0,138.0,1.0,85.0,0.0,Loss
16,REG14,SF,Home,77.0,2.0,114.0,0.0,55.0,0.0,Loss
17,REG15,DEN,Away,3.0,0.0,23.0,0.0,96.0,1.0,Win
18,REG16,BAL,Home,125.0,0.0,194.0,2.0,85.0,1.0,Win
19,REG17,KC,Home,266.0,3.0,62.0,0.0,36.0,1.0,Win
20,REG18,CLE,Away,26.0,0.0,NaN,NaN,NaN,NaN,Loss
21,POST1,LV,Home,116.0,0.0,10.0,0.0,26.0,1.0,Win
22,POST2,TEN,Away,109.0,0.0,96.0,0.0,17.0,0.0,Win
23,POST3,KC,Away,54.0,1.0,103.0,0.0,19.0,0.0,Win
24,POST4,LAR,Neutral,89.0,0.0,100.0,2.0,48.0,0.0,Loss